{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Dodaj film</h1>

<form action="{{path('_create')}}" enctype="multipart/form-data" method="post">
    {{ form_widget(form) }}
</form>
<hr/>
<br/>
        <a href="{{ path('') }}">
            Back to the list
        </a>

{% endblock %}
